@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    margin: auto;
}

body {
    background: rgb(34, 195, 145);
    background: radial-gradient(circle,
            rgba(34, 195, 145, 0.8505154639175257) 16%,
            rgba(253, 187, 45, 1) 100%);
}

h1 {
    text-align: center;
    font-size: 2.5em;
    font-family: "barlow";
}

.tamagotchi {
    width: 44vh;
    height: 53vh;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 40px -20px rgba(0, 0, 0, 0.4);
    border-radius: 54% / 65% 65% 47% 47%;
    background-color: rgb(190, 27, 27);
}

.loop {
    width: 5.5vh;
    height: 5.5vh;
    border-radius: 50%;
    position: absolute;
    left: 44%;
    top: -25px;
    background-color: rgb(190, 27, 27);
}

.insideLoop {
    width: 2.8vh;
    height: 2.8vh;
    border-radius: 50%;
    position: absolute;
    border: 1px solid black;
    left: 23%;
    top: 8px;
    background: radial-gradient(circle,
            rgba(34, 195, 145, 0.8505154639175257) 16%,
            rgba(253, 187, 45, 1) 100%);
}

.screen {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.screen .innerScreen {
    width: 19.6vh;
    height: 19.6vh;
    border-radius: 13px;
    background-color: #1d8553;
    z-index: 1;
}

.screen .innerScreen #counter {
    font-size: 2em;
    min-height: 19.6vh;
    display: inline-flex;
    align-items: center;
    font-family: "orbitron";
}

.screen .crack {
    background-color: orange;
    border-radius: 3px;
    position: absolute;
    z-index: -1;
}

.crackTop {
    width: 70px;
    height: 50px;
    top: -10%;
    left: 25%;
    transform: rotate(14deg);
}

.crackTop-Left {
    width: 60px;
    height: 50px;
    top: -5%;
    left: -5%;
    transform: rotate(5deg);
}

.crackTop-Right {
    width: 70px;
    height: 80px;
    top: -10%;
    left: 60%;
    transform: rotate(35deg);
}

.crackLeft-Mid {
    width: 100px;
    height: 60px;
    top: 30%;
    left: -16%;
    transform: rotate(30deg);
}

.crack-line1 {
    width: 67px;
    border: 1px solid rgb(136, 121, 121);
    top: 54%;
    left: -63%;
    transform: rotate(-12deg);
}

.crackLeft-Bot {
    width: 110px;
    height: 110px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    bottom: -17%;
    left: -8%;
    transform: rotate(100deg);
}

.crackBot-Mid {
    width: 150px;
    height: 150px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    bottom: -5%;
    left: 15%;
    transform: rotate(55deg);
}

.crackBot-Right {
    width: 80px;
    height: 80px;
    top: 53%;
    left: 51%;
    transform: rotate(10deg);
}

.crackRight-Mid {
    width: 80px;
    height: 80px;
    top: 15%;
    left: 60%;
    transform: rotate(-30deg);
}

.crack-line2 {
    width: 66.5px;
    border: 1px solid rgb(136, 121, 121);
    top: 53%;
    left: 120%;
    transform: rotate(12deg);
}

.shadow {
    position: absolute;
    border-radius: 54%/65% 65% 47% 47%;
    top: 6%;
    left: 6%;
    width: 82%;
    height: 82%;
    box-shadow: 20px 20px 1px 10px rgb(124, 8, 8);
    filter: blur(45px);
}

.button-container {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 85%;
    left: 35%;
}

button {
    background: rgb(32, 43, 193);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
}

.plus-button {
    top: -6%;
    left: -13%;
}

.reset-button {
    top: 5%;
    left: 20%;
}

.minus-button {
    top: -6%;
    left: 55%;
}

@media (max-width: 600px) {
    .tamagotchi {
        width: 80vw;
        height: 100vw;
    }

    @media (max-width: 600px) {
        .crackTop {
            width: calc(140px / 100vw * 100);
            height: calc(100px / 100vw * 100);
            top: calc(-10% / 100vw * 100);
            left: calc(25% / 100vw * 100);
            transform: rotate(14deg);
        }

        .crackTop-Left {
            width: calc(120px / 100vw * 100);
            height: calc(100px / 100vw * 100);
            top: calc(-5% / 100vw * 100);
            left: calc(-5% / 100vw * 100);
            transform: rotate(5deg);
        }

        .crackTop-Right {
            width: calc(140px / 100vw * 100);
            height: calc(160px / 100vw * 100);
            top: calc(-10% / 100vw * 100);
            left: calc(60% / 100vw * 100);
            transform: rotate(35deg);
        }

        .crackLeft-Mid {
            width: calc(200px / 100vw * 100);
            height: calc(120px / 100vw * 100);
            top: calc(30% / 100vw * 100);
            left: calc(-16% / 100vw * 100);
            transform: rotate(30deg);
        }

        .crack-line1 {
            width: calc(134px / 100vw * 100);
            border: calc(1px / 100vw * 100) solid rgb(136, 121, 121);
            top: calc(54% / 100vw * 100);
            left: calc(-63% / 100vw * 100);
            transform: rotate(-12deg);
        }

        .crack-line2 {
            width: calc(134px / 100vw * 100);
            border: calc(1px / 100vw * 100) solid rgb(136, 121, 121);
            top: calc(54% / 100vw * 100);
            left: calc(-63% / 100vw * 100);
            transform: rotate(-12deg);
        }

        .crackLeft-Bot {
            width: calc(220px / 100vw * 100);
            height: calc(220px / 100vw * 100);
            clip-path: polygon(calc(25% / 100vw * 100) 0%, calc(75% / 100vw * 100) 0%, calc(100% / 100vw * 100) calc(50% / 100vw * 100), calc(75% / 100vw * 100) calc(100% / 100vw * 100), calc(25% / 100vw * 100) calc(100% / 100vw * 100), 0% calc(50% / 100vw * 100));
            bottom: calc(-17% / 100vw * 100);
            left: calc(-8% / 100vw * 100);
            transform: rotate(100deg);
        }

        .crackBot-Mid {
            width: calc(300px / 100vw * 100);
            height: calc(300px / 100vw * 100);
            clip-path: polygon(calc(50% / 100vw * 100) 0%, 0% calc(100% / 100vw * 100), calc(100% / 100vw * 100) calc(100% / 100vw * 100));
            bottom: calc(-34% / 100vw * 100);
            left: calc(26% / 100vw * 100);
            transform: rotate(55deg);
        }

        .crackRight-Mid {
            width: calc(160px / 100vw * 100);
            height: calc(90px / 100vw * 100);
            top: calc(32% / 100vw * 100);
            left: calc(79% / 100vw * 100);
            transform: rotate(30deg);
        }

        .crackRight-Top {
            width: calc(140px / 100vw * 100);
            height: calc(120px / 100vw * 100);
            top: calc(-10% / 100vw * 100);
            left: calc(78% / 100vw * 100);
            transform: rotate(30deg);
        }

        .crackRight-Bot {
            width: calc(200px / 100vw * 100);
            height: calc(200px / 100vw * 100);
            clip-path: polygon(calc(25% / 100vw * 100) 0%, calc(75% / 100vw * 100) 0%, calc(100% / 100vw * 100) calc(50% / 100vw * 100), calc(75% / 100vw * 100) calc(100% / 100vw * 100), calc(25% / 100vw * 100) calc(100% / 100vw * 100), 0% calc(50% / 100vw * 100));
            bottom: calc(-17% / 100vw * 100);
            left: calc(72% / 100vw * 100);
            transform: rotate(110deg);
        }
    }


    @media (min-width: 601px) and (max-width: 900px) {
        .crackTop {
            width: calc(120px / 100vw * 100);
            height: calc(80px / 100vw * 100);
            top: calc(-8% / 100vw * 100);
            left: calc(20% / 100vw * 100);
            transform: rotate(12deg);
        }

        .crackTop-Left {
            width: calc(100px / 100vw * 100);
            height: calc(80px / 100vw * 100);
            top: calc(-4% / 100vw * 100);
            left: calc(0% / 100vw * 100);
            transform: rotate(4deg);
        }

        .crackTop-Right {
            width: calc(120px / 100vw * 100);
            height: calc(128px / 100vw * 100);
            top: calc(-8% / 100vw * 100);
            left: calc(48% / 100vw * 100);
            transform: rotate(28deg);
        }

        .crackLeft-Mid {
            width: calc(160px / 100vw * 100);
            height: calc(96px / 100vw * 100);
            top: calc(24% / 100vw * 100);
            left: calc(-13% / 100vw * 100);
            transform: rotate(24deg);
        }

        .crack-line1 {
            width: calc(108px / 100vw * 100);
            border: calc(1px / 100vw * 100) solid rgb(136, 121, 121);
            top: calc(43% / 100vw * 100);
            left: calc(-50% / 100vw * 100);
            transform: rotate(-10deg);
        }

        .crackLeft-Bot {
            width: calc(176px / 100vw * 100);
            height: calc(176px / 100vw * 100);
            clip-path: polygon(calc(20% / 100vw * 100) 0%, calc(80% / 100vw * 100) 0%, calc(100% / 100vw * 100) calc(40% / 100vw * 100), calc(80% / 100vw * 100) calc(100% / 100vw * 100), calc(20% / 100vw * 100) calc(100% / 100vw * 100), 0% calc(40% / 100vw * 100));
            bottom: calc(-14% / 100vw * 100);
            left: calc(-6% / 100vw * 100);
            transform: rotate(88deg);
        }

        .crackBot-Mid {
            width: calc(240px / 100vw * 100);
            height: calc(240px / 100vw * 100);
            clip-path: polygon(calc(40% / 100vw * 100) 0%, 0% calc(100% / 100vw * 100), calc(100% / 100vw * 100) calc(100% / 100vw * 100));
            bottom: calc(-28% / 100vw * 100);
            left: calc(20% / 100vw * 100);
            transform: rotate(44deg);
        }

        .crackRight-Mid {
            width: calc(128px / 100vw * 100);
            height: calc(72px / 100vw * 100);
            top: calc(24% / 100vw * 100);
            left: calc(63% / 100vw * 100);
            transform: rotate(24deg);
        }

        .crackRight-Top {
            width: calc(120px / 100vw * 100);
            height: calc(