@font-face {
    font-family: 'retrogaming' ;
    src: url(../stili/fonts/RetroGaming.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: antiquewhite;
    font-family: 'retrogaming';
}

.title {
    text-align: center;
    margin-top: 25px;
    font-size: 2em;
}



.pokeball {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45vw;
    height: 45vw;
    border: 10px solid black;
    border-radius: 50%;
    background: linear-gradient(0deg,#fff 0%,#fff 50%,#ee1515 50%,#ee1515 100%);
}

.screen {
    width: 28vw;
    height: 20vw;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    border-radius: 10px;
    background-color: rgb(128, 136, 116);
    z-index: 2;
}

.screen::after {
    content: "";
    position: absolute;
    top: 75%; 
    left: 0;
    right: 0;
    height: 3px; 
    background-color: black; 
}

#charmender {
    width: 1px;
    height: 1px;
    position: absolute;
    top: 35%;
    left: 35%;
    transform: translate(-50%, -50%) scale(5);
    box-shadow: 10px 6px #000000, 11px 6px #000000, 12px 6px #000000,
    13px 6px #000000, 23px 6px #000000, 9px 7px #000000, 14px 7px #000000,
    22px 7px #000000, 24px 7px #000000, 8px 8px #000000, 15px 8px #000000,
    22px 8px #000000, 25px 8px #000000, 8px 9px #000000, 15px 9px #000000,
    22px 9px #000000, 25px 9px #000000, 7px 10px #000000, 16px 10px #000000,
    21px 10px #000000, 26px 10px #000000, 6px 11px #000000, 11px 11px white,
    12px 11px #000000, 16px 11px #000000, 21px 11px #000000, 24px 11px #918d8d,
    26px 11px #000000, 6px 12px #000000, 11px 12px #000000, 12px 12px #000000, 
    17px 12px #000000, 21px 12px #000000, 23px 12px #918d8d, 24px 12px #918d8d, 
    26px 12px #000000, 6px 13px #000000, 11px 13px #000000, 12px 13px #000000, 
    18px 13px #000000, 22px 13px #000000, 23px 13px #918d8d, 24px 13px #000000, 
    25px 13px #000000, 7px 14px #000000, 18px 14px #000000, 22px 14px #000000,
    24px 14px #000000, 8px 15px #000000, 9px 15px #000000, 19px 15px #000000,
    21px 15px #000000, 24px 15px #000000, 10px 16px #000000, 11px 16px #000000,
    12px 16px #000000, 15px 16px #000000, 20px 16px #000000, 23px 16px #000000,
    11px 17px #000000, 12px 17px #918d8d, 13px 17px #918d8d, 14px 17px #000000,
    20px 17px #000000, 23px 17px #000000, 11px 18px #000000, 12px 18px #a5a1a1,
    13px 18px #a5a1a1, 14px 18px #a5a1a1, 15px 18px #000000, 16px 18px #000000, 
    20px 18px #000000, 22px 18px #000000, 10px 19px #000000, 11px 19px white,
    12px 19px #000000, 13px 19px #a5a1a1, 14px 19px #a5a1a1, 15px 19px #a5a1a1,
    20px 19px #000000, 21px 19px #000000, 11px 20px #000000, 12px 20px #000000,
    13px 20px #000000, 14px 20px #a5a1a1, 15px 20px #a5a1a1, 19px 20px #000000,
    20px 20px #000000, 14px 21px #000000, 15px 21px #000000, 16px 21px #000000, 
    18px 21px #000000, 19px 21px #000000, 15px 22px #000000, 16px 22px white, 
    18px 22px white, 19px 22px #000000, 16px 23px #000000,17px 23px #000000, 
    18px 23px #000000;
    animation: bounce 1s linear 0s 1 normal forwards;
}

@keyframes bounce {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-5px) scale(5);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-25px) scale(5);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-20px)scale(5);
	}

	85% {
		animation-timing-function: ease-in;
		transform: translateY(-10px)scale(5);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0px)scale(5);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px)scale(5);
	}
}



#counter {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
}

.line {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45vw;
    height: 4vw;
    background-color: black;
    border-radius: 5px;
    z-index: 1; 
}


.button-container {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25vw;
    display: flex;
    justify-content: space-between;
}

.middle-button {
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
}

button {
    width: 5vw;
    height: 5vw;
    border: 0.3em solid black;
    border-radius: 50%;
    text-align: center;
    background-color: #fff;
    transform-origin: top center;
    transition: 0.1s cubic-bezier(0.25, 0.1, 0.25, 1);
    box-shadow: 0.1s cubic-bezier(0.25, 0.1, 0.25, 1);
}

button:active {
    transform: translateY(2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.save-container {
    position: absolute;
    top: 75%;
    margin: 10px;
    overflow: auto;
    width: 95%;
    height: 20%;
}

.save-container::-webkit-scrollbar {
    background-color: rgb(128, 136, 116);;
    width: 10px;
}

.save-container::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 15px;
}
